@import 'vars';
@import 'reset';
@import 'global';
@import 'fonts';

// start header
.header__wrapper {
  display: flex;
  justify-content: space-between;
  // background-color: rgb(180, 184, 184);
  padding: 20px 0;
  position: relative;
  z-index: 10;
}

.header__left {
  display: flex;
}

.logo {
  margin-right: 30px;
  width: 63px;
  height: 60px;
}

.menu__list {
  padding-top: 20px;
  color: $grey;
  font-size: 24px;
  line-height: normal;
  @extend %Poiret;
  display: inline-block;

  &+.menu__list {
    margin-left: 70px;
  }
}

.header__right {
  display: flex;
  padding-top: 18px;

}

.connection {

  font-size: 20px;
  max-width: 220px;
  width: 100%;
  padding: 0 10px;
  text-align: right;

  margin-left: 100px;
}
.mob__connection{
  display: none;
}
.connection__phone {
  margin-bottom: 15px;
}

// end header


// start section screen
.screen {
  margin-top: -120px;

}

.screen__wrapper {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.screen__left {
  width: 50%;
  height: 100%;
  padding-top: 328px;
}

.screen__name {
  font-size: 40px;
  line-height: normal;
  @extend %Poiret;
  margin-bottom: 10px;
  color: $grey;
}

.screen__title {
  @extend %Poiret;
  font-size: 96px;
  line-height: normal;
  color: $grey;
  margin-bottom: 50px;
}

.screen__box {
  width: 520px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.screen__right {
  width: 1020px;
  
  text-align: center;
}

.screen__inner {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.screen__item {
  width: 344px;
  height: 100%;
}
.screen__item-social{
  margin-top: 40px;

}
.screen__item-left {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.screen__item-center {
  background-color: $grey;
  position: relative;
}

.screen__item-center--text {
  @extend %Bad;
  font-size: 36px;
  font-weight: 400;
  color: $white;
  transform: rotate(-10deg);
  position: absolute;
  left: 30px;
  bottom: 200px;
}

.screen__item-center--img {
  width: 344px;
  height: 344px;
  position: absolute;
  right: -260px;
  // top: 328px;
  bottom: 350px;
  // bottom: 50%;
  // top: 50%;
  border-radius: 3px;
}

.screen__item-right {
  max-width: 247px;
}

// end section screen


// start section offer
.offer__title{
  @extend %Bad;
  font-size: 36px;
  line-height: normal;
  color: $grey;

}


// end section offer


// start section adv
.adv{
  background-color: $grey;
  color: $white;
  background-image: url('../images/content/adv-bg.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 630px;
}
.adv__inner{
  display: flex;
  justify-content: space-between;
}
.adv__item{
  max-width: 390px;
  padding-right: 20px;
  margin-bottom: 30px;
}
.adv__number{
  font-size: 80px;
  line-height: normal;
  color: #D9D9D9;
  @extend %Poiret;
}
.adv__title{
  font-size: 32px;
  @extend %Poiret;
  min-height: 112px;
  margin-bottom: 30px;
  max-width: 300px;

}
.adv__text{
  font-size: 20px;
  line-height: normal;
  @extend %Poiret;
}
// end section adv









@import 'media';